header {
  padding: 20px 0;

  .row {
    align-items: center; // Vertically center Logo & Nav
  }

  .logo {
    width: 300px;
    height: 150px;
  }

  nav {
    display: flex;
    gap: 20px;
    margin-top: 15px; // Mobile spacing

    @include desktop {
      margin-top: 0;
      justify-content: flex-end; // Push to right
      width: 100%;
    }

    a {
      font-weight: 700;
      color: $color-secondary;
      font-size: 0.9rem;
      text-transform: uppercase;
      transition: color 0.3s;

      &:hover {
        color: $color-primary; // #1b6e0e
      }
    }
  }
}
