* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-bg-body; // #c5d7da
  color: $color-text-body;
  font-family: $font-body; // Lato
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
