h1, h2, h3, h4 {
  font-family: $font-heading; // Playfair Display
  color: $color-text-head;    // #114d57
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  @include desktop { font-size: 3.5rem; }
}

h2 {
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

p {
  margin-bottom: 15px;
  font-size: 1rem;
  @include desktop { font-size: 1.1rem; }
}
